In [2]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests

In [4]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
airline_data_df = pd.read_csv("../Resources/City-Pair_Markets_With_A_Substantial_Decrease_In_Average_Fare.csv")

# Display sample data
airline_data_df.head()

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,cur_passengers,cur_fare,ly_fare,ly_passengers,amount_change,percent_change,amount_change_pax,percent_change_pax,Geocoded_City1,Geocoded_City2
0,Table 4,2017,2,30423,33198,"Austin, TX","Kansas City, MO",27120,189.79,261.58,17760,-71.79,-0.2744,9360,0.5270,"Austin, TX\n(30.264979, -97.746598)","Kansas City, MO\n(39.099792, -94.578559)"
1,Table 4,2018,3,30325,33044,"Denver, CO","Louisville, KY",27870,178.97,233.31,19790,-54.33,-0.2329,8080,0.4083,NaN,NaN
2,Table 4,2018,3,30325,33728,"Denver, CO","Pensacola, FL",22740,177.91,257.98,11310,-80.08,-0.3104,11430,1.0106,NaN,NaN
3,Table 4,2018,3,30325,34321,"Denver, CO","Portland, ME",24830,213.73,287.89,13810,-74.16,-0.2576,11020,0.7980,NaN,NaN
4,Table 4,2018,3,30325,35096,"Denver, CO","Syracuse, NY",19300,231.15,322.04,10980,-90.90,-0.2822,8320,0.7577,NaN,NaN